{
  "overrides": [
    {
      "files": [".babelrc", ".parcelrc", ".postcssrc"],
      "options": {
        "parser": "json"
      }
    }
  ],
  "singleQuote": true,
  "tabWidth": 2,
  "endOfLine": "lf"
}
